In [1]:
#importing the necessary libraries
import json
import csv
import tweepy
import re
from tweepy import streaming
from tweepy import StreamListener
import pandas as pd

In [2]:
consumer_key = "XXXXX"
consumer_secret = "XXXXX"
access_token = "XXXXX"
access_token_secret = "XXXXX"
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [9]:
username = 'ibekwekingsley0'
 
count = 150
try:     
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.user_timeline,id=username).items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 # Creating a dataframe from the tweets list above
 tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Tweet'])
except BaseException as e:
      print('failed on_status,',str(e))
      time.sleep(3)

In [10]:
tweets_df.head()

,Datetime,Tweet Id,Tweet
0,2022-05-14 13:58:23,1525475614391734273,@ZindiAfrica @kirill_eremenko @superdatasci @4...
1,2022-05-14 11:59:15,1525445635423469568,I'm happy to share that I've completed the Mac...
2,2022-04-20 14:46:18,1516790364903981059,@dsn_ai_network @black_in_ai @dsa_org @DeepInd...
3,2022-04-19 20:02:45,1516507616129781767,Just click on the text you want to delete and ...
4,2022-04-19 19:58:52,1516506637254725641,Do you know you can use ctrl+shift+L to replac...

In [11]:
#saving as a CSV File

tweets_df.to_csv("Kingsley.csv", index = False)

Scraping Tweets from a text search query

In [9]:
text_query = 'World Cup'
count = 150
try:
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query).items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 tweets_df = pd.DataFrame(tweets_list,columns=['Datetime', 'Tweet Id', 'Tweet'])
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [10]:
tweets_df.head()

,Datetime,Tweet Id,Tweet
0,2022-05-23 11:17:05,1528696512439537666,RT @NewTimesRwanda: #BREAKING: PSG Academy Rwa...
1,2022-05-23 11:17:04,1528696509977329665,#Rwanda #EastAfrica #Sport #Africa #Soccer Afr...
2,2022-05-23 11:17:00,1528696492411822080,🛶🇮🇹 Christian Volpi riceve la prima convocazio...
3,2022-05-23 11:16:58,1528696486569050113,RT @apothinker: kinnporsche is a life changing...
4,2022-05-23 11:16:56,1528696477740064768,The 20 ladies in camp plus selected Under 19 p...